
.menu-demo2, .menu-demo2 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
.menu-demo2 li{
display:inline-block;
position:relative;
border-radius:8px 8px 8px 8px;
}
.menu-demo2 ul li{
display:inherit;
border-radius:8px 8px 8px 8px;
}
.menu-demo2 ul li:hover{
border-radius:8px 8px 8px 8px;
}
.menu-demo2 ul li:last-child{
border-radius:8px 8px 8px 8px;
}
.menu-demo2 ul{
position:absolute;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
.menu-demo2 li:hover ul{
max-height:50em;
}
/* background des liens menus */
.menu-demo2 li:first-child{

border: 3px #9FC6FF solid;
background-color: #003366;
background-image:-webkit-linear-gradient(top, #003366 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #003366 0%, #2A2333 100%);
}
.menu-demo2 li:nth-child(2){

border: 3px #9FC6FF solid;
background-color: #003366;
background-image: -webkit-linear-gradient(top, #003366 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
.menu-demo2 li:nth-child(3){

border: 3px #9FC6FF solid;
background-color: #003366;
background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
.menu-demo2 li:last-child{

border: 3px #9FC6FF solid;
background-color: #003366;
background-image:-webkit-linear-gradient(top, #003366 0%, #677F35 100%);
background-image:linear-gradient(to bottom, #003366 0%, #677F35 100%);
}


