
.backgroundBlue {
    background-color: #006699;
}

.backgroundRed {
    background-color: #FF0000;
}

.colorWhite {
    color: #ffffff;
}

.size4 {
    font-size: 20px;
}

.alignementCentre {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.styleArial {
    font-family: Arial, Helvetica, sans-serif;
}

.borderWidth1 {
    border: 1px solid;
}