
table.miseForme {
    width: 90%;
    border: 1px solid black;
   margin: auto;
}

td.miseForme{
    background-color:#CCCCCC;
}

.auteur{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 16px;

}

.titre{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 40px;
    Font-Weight: bold;
    text-align: center;
}


.texte{

font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 25px;
    text-align: center;
}